body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-image: url("resources/backgroundUpg.png");
    background-size: cover;
}

form#warrior-form {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
    font-size: larger;
    font-weight:bolder;

}

.boxes-row {
    display: flex;
}


.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 90px;
    height: 90px;
    background-color: #bbc0c6;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.box h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1.2em;
}

#warrior-form {
    margin-left: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(169, 148, 134, 0.725);
    border: 5px solid #1537598f;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#warrior-input {
    color: rgb(1, 2, 2);
}


#correct {
    color: green;
    border-radius: 6px;
}

#incorrect {
    color: red;
    border-radius: 6px;
}

#indicators {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: large;
    background-color:rgba(245, 245, 220, 0.849);
    border: 5px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
    margin: -10px;
    max-width: fit-content;
}

.col {
    padding: 10px;
    text-align: center;
    max-width: center;
}
